
!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/packages/vite/LICENSE
dist
dist-ssr
explorations
playground-temp
temp
TODOs.md
.eslintcache
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml