.navigation {
    width: 100%;
    height: 72px;
    font-family: "DM Sans", sans-serif;
    background-color: var(--brand-green-light);
    color: var(--brand-green);
}

.navigation__list {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: center;
}

.list__item > a {
    color: var(--brand-green);
    padding: 16px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--brand-green-light);
    opacity: 0.7;
}

.list__item a:hover {
    border-bottom: 2px solid var(--brand-green);
    opacity: 1;
}

.header__logo {
    font-size: 0px;
}

.header__logo span {
    font-size: 22px;
    letter-spacing: 1px;
}

.header__logo--left {
    color: var(--gray-headline)
}

.header__logo--right {
    font-weight: bold;
    color: var(--brand-green)
}

.header__button {
    padding: 10px 20px;
    text-transform: uppercase;
    color: var(--brand-green);
    border: 1px solid var(--brand-green);
    border-radius: 20px;
    background-color: var(--brand-green-light);
    font-weight: bold;
}

.header__button:hover {
    cursor: pointer;
}
